# Fichiers et dossiers générés par Python
__pycache__/
*.pyc
*.pyo

# Fichiers spécifiques à VS Code (souvent utiles à ignorer)
.vscode/

# Autres fichiers (comme les données temporaires de NumPy)
.ipynb_checkpoints/